<section>
    <h2 class="page-title" data-bind="text: title"></h2>
    <div class="accordion" id="accordion2">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseWhat">What is this?
                </a>
            </div>
            <div id="collapseWhat" class="accordion-body collapse in">
                <div class="accordion-inner">
                    This is a simple web site that is meant to compare different bikes in a simple and visual way.
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseWhere">Where did the data come from?
                </a>
            </div>
            <div id="collapseWhere" class="accordion-body collapse">
                <div class="accordion-inner">
                    Up to now the data has come primarily from the manufacturers web sites.  If there are inconsistencies in the data it is because I had to calculate the data from other measurements provided by the manufacturers.
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseWhy">Why is my favorite bike company or model not included?
                </a>
            </div>
            <div id="collapseWhy" class="accordion-body collapse">
                <div class="accordion-inner">
                    Up to now I have been the only one putting in data to fill this out.  If you would like a specific manufacturer or model added please <a href="mailto:tribikefit@gmail.com">Email Me</a> with the details for all the available sizes and I will try to add it as quickly as possible.
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseCoord">What is the coordinate system?
                </a>
            </div>
            <div id="collapseCoord" class="accordion-body collapse">
                <div class="accordion-inner">
                    The ground plane is the zero in Y direction and the center of the bottom bracket is the zero in the X direction.  All the bikes should have their bottom brackets lined up left to right.
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTerms">What are the definitions of the various terms?
                </a>
            </div>
            <div id="collapseTerms" class="accordion-body collapse">
                <div class="accordion-inner">
                    <dl class="dl-horizontal">
                        <dt>Stack:</dt>
                        <dd>The vertical distance measured from the center of the bottom bracket to the top of the headtube.</dd>
                        <dt>Reach:</dt>
                        <dd>The horizontal distance measured from the center of the bottom bracket to the top of the headtube.</dd>
                        <dt>Front Center:</dt>
                        <dd>The distance measured from the center of the bottom bracket to the center of the front wheel.</dd>
                        <dt>Rear Center:</dt>
                        <dd>The distance measured from the center of the bottom bracket to the center of the rear wheel.</dd>
                        <dt>Head Tube:</dt>
                        <dd>The length of the head tube.</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</section>
