<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="manufacturer">Manufacturer:</label>
        <div class="controls">
            <select class="input-medium" id="manufacturer"></select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="model">Model:</label>
        <div class="controls">
            <select class="input-medium" id="model"></select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="size">Size:</label>
        <div class="controls">
            <select class="input-medium" id="size"></select>
        </div>
    </div>
</form>
