<section>
    <div class="form-signin">
        <h2 class="form-signin-heading">Sign Up</h2>
        <input type="text" class="input-block-level" placeholder="User Name" data-bind="value: userName">
        <input type="password" class="input-block-level" placeholder="Password" data-bind="value: password">
        <input type="password" class="input-block-level" placeholder="Confirm Password" data-bind="value: passwordConfirm">
        <button class="btn btn-large btn-primary" data-bind="click: signUp">Sign up</button>
    </div>
</section>